/* .App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: rgb(75, 231, 13);
}

main {
  padding: 20px;
}

footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

input, textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #084298;
} */
